<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Title</title>
</head>
<body>
<h1>Hello</h1>
</body>
</html>